CORS_ORIGINS=http://localhost,http://127.0.0.1

# -----------
# Database
# -----------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db
DB_USER=user_write
DB_PASSWORD=user_write

# -----------
# Cache
# -----------
CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_DB=0
CACHE_PASSWORD=Pa55w.rd
